{
  "extends": [
    // Extend the airbnb eslint config
    "airbnb-base"
    // Vue
    // "plugin:vue/vue3-recommended"
  ],
  // "parser": "vue-eslint-parser",
  // "parser": "eslint-plugin-vue",
  "parserOptions": {
    "sourceType": "module"
  },
  // ESLint will not look in parent folders for eslint configs
  "root": false,
  // An environment defines global variables that are predefined.
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  // Rule overrides
  "rules": {
    // Disable no-restricted-globals for global objects
    "no-restricted-globals": 0,
    // Disable no-params-reassign for properties
    // "no-param-reassign": ["error", { "props": false }],
    // Allow strict mode (we are not dealing with modules)
    // "strict": [0],
    // Allow use of "private methods" - impossible to satisfy
    "no-underscore-dangle": 0
    // Disable alert rule till we have a CE in place
    // "no-alert": 0
    // Allow extensions on imports
    // "import/extensions": 0,
    // Allow exporting mutable 'let' binding
    // "import/no-mutable-exports": 0,
    // Allow no named as default / member 
    // "import/no-named-as-default": 0,
    // "import/no-named-as-default-member": 0
  }
}
